<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Download - Messenger</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
    	<div class="wrapper">
    		<nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #66a1ee">

                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a id="logout-btn" class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a>
                            </li>
                            <li>
                                <a id="dl-btn" class="nav-link" href="{{ url_for('download') }}"><span style="color: #335177">Download</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="main-section">
                <center>
                <h1>Download</h1>
                <h3><a href = "https://download847.mediafire.com/jweiofvcs4kg/29blpuc9p02ajsv/Messenger-Windows.zip">Download for Windows</a></h3>
                <h3><a href = "https://download1483.mediafire.com/diy9vx65pilg/q6kvvzf5ebts4w9/Messenger-Linux.zip">Download for Linux</a></h3>
                <h3><a href = "https://download1485.mediafire.com/j89an4jzz2eg/bd9b8tm5lj0b9wp/Messenger-Mac.zip">Download for Mac</a></h3>
                <h3><a href = "https://s3.amazonaws.com/gonativeio/static/5ed610208d1d1c279e0f531c/app-release.apk">Download for Android</a></h3>
                <h3><a href = "https://github.com/DivyanshByte/Messenger/archive/source_code.zip/">Download Source Code</a></h3>
                </center>
            </div>
    	</div>
    </body>
